.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 35vw;
  bottom: 35%;
}

.hero__backdrop-wrapper {
  width: 100%;
  height: fit-content;
  position: absolute;
}

.hero__backdrop-image {
  width: 100%;
  height: auto;
  z-index: 0;
}

.hero__fade-overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, rgba(20, 20, 20, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}