:root {
  --font-family: Roboto, sans-serif;
  --font-size-base: 1rem; /* 기본: 16px */
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-size-title: 3rem;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  --color-logo: #e50914;
  --color-background: #141414;
  --color-text: #ffffff;
  --color-subtext: ##e5e5e5;

  --card-row-padding-y: 4%; /* 카드 슬라이드/그리드 좌우 패딩 */

  --header-height: 68px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.2;
}

/* Button */
.button {
  display: inline-block;
  font-size: var(--font-size-base);
  border-radius: 4px;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

/* Responsive Utility*/
/* 480, 768, 1024, 1280, 1440, 1920 */
@media screen and (max-width: 950px) {
  :root {
    --header-height: 41px;
  }
}
