.cards-grid {
  width: 100%;
  padding: 0 var(--card-row-padding-y);
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 3vw;
  column-gap: 1vw;
}
.grid-poster > img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.2vw;
}

.search-loding-msg,
.search-novalue-msg {
  font-size: 0.8rem;
  padding-top: 15vh;
  padding-left: 35vw;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
