@font-face {
  font-family: 'Netflix Sans';
  font-weight: bold;
  src: url('../../public/NetflixSans-Bold.otf');
}
@font-face {
  font-family: 'Netflix Sans';
  font-weight: normal;
  src: url('../../public/NetflixSans-Regular.otf');
}

:root {
  --headerHeight: 60px;
  --inHeaderHeight: 30px;
  --iconsHeight: 20px;
  --iconsMargin: 10px;
  --sub-header-label-height: 20px;
}

.header-contents {
  display: flex;
  flex-direction: column;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--card-row-padding-y);
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0));
  transition: background 0.5s;
  z-index: 100;
}

.main-header_black {
  background-color: #141414;
}

.main-header-left {
  display: flex;
  align-items: center;
  height: var(--inHeaderHeight);
  width: 10%;
}

.main-header-left-logo {
  height: var(--inHeaderHeight);
}

.main-header-category {
  display: flex;
  align-items: center;
  height: var(--inHeaderHeight);
  width: 80%;
}

.main-header-category-button {
  margin: 0 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Netflix Sans', Helvetica;
  font-size: 1em;
  cursor: pointer;
}

.main-header-category-button.active {
  font-weight: 700;
}

.main-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--inHeaderHeight);
  width: 10%;
}

.main-header-search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 var(--iconsMargin);
  height: var(--iconsHeight);
}

.main-header-right-search-icon,
.main-header-right-notification,
.main-header-right-profile,
.main-header-right-triangleDown {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 var(--iconsMargin);
  height: var(--iconsHeight);
}

.main-header-right-profile {
  height: 30px;
  border-radius: 3px;
}

.main-header-search-container {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin-left: 16px;
  background: #141414;
  border: 1px solid #fff;
  border-radius: 4px;
}

.search-input-icon {
  height: var(--iconsHeight);
  margin-right: 8px;
}

.main-header-search-input {
  flex: 1;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  outline: none;
}

.main-header-search-input::placeholder {
  color: #aaa;
}
